.pslzme-slide-in-right {
	animation-name: pslzme-slide-in-right;
	animation-duration: 1.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

.pslzme-slide-out-right {
	animation-name: pslzme-slide-out-right;
	animation-duration: 1.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

@keyframes pslzme-slide-in-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes pslzme-slide-out-right {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}
