/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.pslzme-text * {
	margin: 0;
}

.pslzme-video {
	position: relative;
	width: 100%;
	height: auto;
}

.pslzme-ov-image-container {
	position: relative;
	overflow: hidden;
}

.pslzme-ov-image-container .pslzme-background-figure {
	position: relative;
	z-index: 1;
}

.pslzme-ov-image-container .pslzme-foreground-figure {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 0;
	width: 100%;
	height: 100%;
}

.pslzme-ov-image-container .pslzme-background-figure img,
.pslzme-ov-image-container .pslzme-foreground-figure img {
	width: 100%;
	height: 100%;
}

.pslzme-ov-image-container .layered-text {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 2;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	font-weight: bold;
}

.pslzme-marquee {
	padding: 4.8rem 0px;
	font-size: 4rem;
}

.pslzme-marquee-text {
	height: 100%;
	overflow: clip;
}

.pslzme-marquee-text-track {
	width: 200%; /* 2 items */
	height: 100%;
	display: flex;
	animation: marquee-content 20s linear infinite;
}

.pslzme-marquee-item {
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pslzme-marquee-item p {
	padding: 2.8rem 0px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.pslzme-3d-text {
	position: relative;
	height: 600px;
	max-height: 1000px;
	max-width: 3000px;
}

.pslzme-3d-text canvas {
	max-width: 3000px;
	max-height: 1000px;
	display: block;
}

.pslzme-3d-text-draggable canvas {
	cursor: pointer;
}

@keyframes marquee-content {
	to {
		transform: translateX(-50%);
	}
}

@media (max-width: 1366px) {
	.pslzme-video video {
		width: 100%;
		height: auto;
	}
}
